.banner{
    height: 500px;
}
.banner-contents{
    padding: 150px 100px;
}
.banner-title{
    color: white;
    padding-top: 20vh;
    font-size: xx-large
}
.banner-button-play{
    padding: 10px 40px;
    margin-right: 10px;
}
.banner-button-mylist{
    padding: 10px 45px;
    color: white;
    background-color: gray;
}
.banner-description{
    font-size: medium;
    width: 30%;
    color: white;
}