.banner{
    top: 0;
    height: 500px;
}
.banner-contents{
    padding: 150px 100px;
}
.banner-title{
    color: white;
    padding-top: 20vh;
    font-size: xx-large
}
.banner-button-play{
    padding: 10px 40px;
    margin-right: 15px;
    border: 0px;
}
.banner-button-mylist{
    padding: 10px 45px;
    color: white;
    background-color: gray;
    border: 0px;
}
.banner-description{
    font-size: medium;
    width: 30%;
    color: white;
}
.hovr:hover{
    background-color: black;
    color: white;
}
@media screen and (max-width: 560px) {
    .banner{
        height: 200px;
        width: 100%;
    }
    .banner-description{
        font-size: 10px;
        width: 40%;
        
    }
    .banner-button-play, .banner-button-mylist{
        padding: 1px 10px;
    }
    .banner-title{
        font-size: smaller;
        padding-top: 80px;
    }
    .banner-contents{
        padding: 0;
        padding-left: 30px;
    }
}